/* --- CODE --- */
/* https://github.com/rstudio/blogdown/blob/master/docs/02-hugo.Rmd */

/* code dans le corps de texte */
pre, code {
	color: #4A7E86;
	background-color: #fff;
	padding-left: .5em;
	padding-right: .5em;
}

/* blocs de code */
pre {
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px #eee;
  padding: 0.25em;
  background: #fff;
  overflow-x: auto;
  border-radius: 05px; /*undo rounded corners*/
}

pre code {
  background: none;
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  pre code {
    font-size: 13px;
  }
}
/* mode sombre*/
.dark pre,
.dark code {
  color: rgb(139, 233, 253);
  background-color: rgb(68, 71, 90);
}

.dark pre {
  /* Match `pre` bg color above. */
  border-color: rgb(68, 71, 90);
	box-shadow: none;
}
