/* --- HOME PAGE --- */

/* animation widget about_custom */
#about_custom {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .avatar {
    animation: fade-in 1.3s forwards;
  }

  .portrait-title {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 0.8s;
  }

  .network-icon {
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 1.3s;
  }
}

.portrait-title h2 {
  color: #333;
}

@media screen and (max-width: 900px) {
  #about_custom .avatar {
    width: 200px;
    height: 200px;
  }
}
/* a quel point paragraphe "about me" descend */
#about .col-12.col-lg-8 {
  padding-top: 0px !important;
}

/* grossissement logos en survolant */
.network-icon li:hover {
  transform: scale(1.05);
}

/* ecart entre premier widget homepage et suivants */
.home-section:first-of-type {
  padding: 50px 0 100px 0;
}

/* ecart entre widgets qui ne sont pas le premier */
.home-section:not(:first-of-type) {
  padding: 50px 0 50px 0;
}

/* this erases the margin-bottom for h1 */

.home-section.wg-pages .section-heading h1 {
  margin: 0 0 0 0;
}

/* this is the section subtitle */

.home-section.wg-pages .section-heading p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .08em;
}


/* réduire taille recent posts */
#posts {
  line-height: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
/*  .col-12 {
    font-size: .8rem;
  }*/
}

#posts .btn {
  display: none;
}
