/* --- NAVIGATION BAR --- */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #eb8444;
}

.navbar {
  box-shadow: none;
  text-transform: lowercase;
	letter-spacing: .05em;
	font-size: 1.1em;
  height: 70px;
}

.dark .navbar {
	box-shadow: none;
}

.navbar-brand {
  text-transform: lowercase;
	letter-spacing: .0em;
  font-size: 1.5em
}

@media screen and (max-width: 900px) {
  .navbar {
    height: 50px;
  }
  .navbar-brand {
    font-size: 20px;
  }
}
/*----NAV LINK HOVER ANIMATION -----*/
/* petite barre qui apparait quand on survole nav bar */

/* from Desiree: https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .5s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #eb8444;
  height: 2px;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}
